* {
	box-sizing: border-box;
	margin: 0;
	vertical-align: top;
}

body {
	height: 100vh;
}

#root {
	height: 100%;
}

.LayoutStyles {
	height: 12%;
	padding: 3%;
	text-align: center;
	background-color: blue;
	color: white;
	font-family: monospace;
}

.Jumbotron {
	height: 76%;
}

.Input {
	display: inline-block;
	width: 50%;
	padding: 1%;
	border: 1px solid black;
	height: 100%;
}

.Input textarea {
	height: 100%;
	width: 100%;
}

.Output {
	display: inline-block;
	width: 50%;
	padding: 1%;
	border: 1px solid black;
	height: 100%;
}

